<html xmlns:th="http://www.w3.org/2005/Atom">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title th:text="#{label.pages.home.title}">home</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0//js/froala_editor.pkgd.min.js"></script>
    <script type="javascript">

        jQuery(function() {
            jQuery('textarea#froala-editor').froalaEditor()
        });
    </script>
    <script type="text/javascript">

        var editboxHTML =
            '<html class="expand close">' +
            '<head>' +
            '<style type="text/css">' +
            '.expand { width: 100%; height: 100%; }' +
            '.close { border: none; margin: 0px; padding: 0px; }' +
            'html,body { overflow: hidden; }' +
            '</style>' +
            '</head>' +
            '<body class="expand close" onload="document.f.ta.focus(); document.f.ta.select();">' +
            '<form class="expand close" name="f">' +
            '<textarea class="expand close" style="background: #def;" name="ta" wrap="hard" spellcheck="false">' +
            '</textarea>' +
            '</form>' +
            '</body>' +
            '</html>';

        var defaultStuff = '<h3>Welcome to the real-time HTML editor!</h3>\n' +
            '<p>Type HTML in the textarea above, and it will magically appear in the frame on the right side.</p>';


        var old = '';

        function init()
        {
            window.editbox.document.write(editboxHTML);
            window.editbox.document.close();
            window.editbox.document.f.ta.value = defaultStuff;
            update();
        }

        function update()
        {
            var textarea = window.editbox.document.f.ta;
            var d = dynamicframe.document;

            if (old != textarea.value) {
                old = textarea.value;
                d.open();
                d.write(old);
                d.close();
            }

            window.setTimeout(update, 150);
        }

    </script>
    <style type="text/css">
        .wrapper{width:500px;margin-left:auto;margin-right:auto}
        label{padding-left:0 !important}
    </style>

    <script type="text/javascript">
        $(document).ready(
            function(){
                $("#createPage").click(
                    function () {
                        var content = $('div#edit').froalaEditor('html.get');
                        var name = $('#name').val();
                        var description = $('#description').val();
                        var page = {
                            name : name,
                            description  : description,
                            content       : content
                        };
                        /*$.post('/page', { name:"test",
                                description: "ceva",
                                content: content},
                            function(returnedData){
                                console.log(returnedData);
                            }).fail(function(){
                            console.log("error");
                        });*/
                        var settings = {
                            "async": true,
                            "crossDomain": true,
                            "url": "http://localhost:8090/page",
                            "method": "POST",
                            "headers": {
                                "content-type": "application/json",
                                "cache-control": "no-cache"
                            },
                            "processData": false,
                            "data": JSON.stringify(page)
                        };

                        $.ajax(settings).done(function (response) {
                            window.location.replace("http://localhost:8090/modules/page/viewPage.html?id="+response);
                        });
                    }
                );
            }
        );
    </script>

</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" th:text="#{label.pages.home.title}">home</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
          </ul>
      </div>
    </nav>

    <div class="container">
            <h1 th:text="#{label.pages.home.message}">home</h1>
    </div>
    <form name='f' action="home" method='POST'>
        <body aligresizable="yes" rows="*,50%" onload="init();">
        <!-- about:blank confuses opera, so use javascript: URLs instead -->
            <iframe name="editbox" src="javascript:'';"></iframe>
            <iframe name="dynamicframe" src="javascript:'';"></iframe>
        </body>

        <input class="btn btn-primary" type="submit" th:value="#{label.form.submit}" />
    </form>
</body>

</html>

